.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .containerRegister {
    width: 592px;
    display: flex;
    flex-direction: column;
    
}

.content .containerRegister .container-title {
    width: 592px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
}

.content .containerRegister .container-title a{
    display: flex;
    align-items: center;
}

.content .containerRegister .container-title strong {
    font-size: 24px;
}

.content .containerRegister .container-inputs {
    width: 100%;
}

.content .containerRegister .container-inputs .field-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content .containerRegister .container-inputs .field-group .field input {
    width: 280px;
    height: 40px;
}

.content .containerRegister .container-inputs .buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 32px;
}

.content .containerRegister .container-inputs .buttonContainer button {
    background-color: #212121;
    width: 176px;
    height: 40px;
    color: #FFFFFF;
    font-weight: 600;
}
